*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.grid{
    display: grid;
    width: 90%;
    margin: 5% auto;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 5em 7em  5em 5em 7em 5em;
    gap: .5em;
}

.grid-car{
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;}

.card-1:first-child{
    grid-column: 1/3;
}

.card-1{
    background: url(img/fmc-header.png) no-repeat center/cover;
}

.card-2{
    background: url(img/fmc-present.jpg) no-repeat top center/cover;
}

.card-3{
    background: url(img/fmc-info.jpg) no-repeat center/cover;
}

.card-4{
    background: url(img/fmc-pasto.jpg) no-repeat center/cover;
}

.card-5{
    background: url(img/fmc-txt.png) no-repeat center/cover;
}

.card-6{
    background: url(img/fmc-rojo.png) no-repeat center/cover;
}

.card-7{
    background: url(img/footer-fmc.png) no-repeat center/cover;
}

.card-4:nth-child(4){
    grid-column: 1/3;
    grid-row: 3/5;
}

.card-7:nth-child(7){
    grid-column: 1/3;
}

.productos{
    text-align: center;
}

.productos-header{
    width: 90%;
    margin: 5% auto;
}


.productos img{
    width: 50%;
}

.productos p{
    font-size: 1em;
    line-height: 1.4;
    margin: 0 0 1em 0;
}

.productos-grid{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 14rem;
    grid-template-rows: 25em;
    overflow-x: auto;
    overscroll-behavior-x: auto;
    scroll-padding: 5rem;
    margin: 1em 0;
    padding: 0 3em;
    gap: 2em;
}


 .snaps-inline{
    scroll-snap-type: inline proximity;
    scrollbar-width: none;
}
    
.snaps-inline > * {
    scroll-snap-align:start ;
}

.produc-grid{
    box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
    border-radius: 15px;
    display: grid;
    grid-template-rows: 70% 30%;
}

.produc-1 .produc-img{
    position: relative;
    background:url(img/producto-1.png) no-repeat center/cover;
    border-radius: 15px;
}

.produc-2  .produc-img{
    position: relative;
    background: url(img/producto-2.png) no-repeat center/cover;
    border-radius: 15px;
}

.produc-3 .produc-img{
    position: relative;
    background: url(img/producto-3.png) no-repeat center/cover;
    border-radius: 15px;
}

.produc-4 .produc-img{
    position: relative;
    background: url(img/producto-4.png) no-repeat center/cover;
    border-radius: 15px;
}

.produc-txt{
    background-color: rgb(206, 5, 5);
    backdrop-filter: blur(15px);
    border-radius: 0 0 15px 15px;
    text-align: left;
    padding: 1em 1em;
}

.produc-txt h1{
    font-size: 1.5em;
    color: rgb(255, 255, 255);
}

.produc-txt p{
    font-size: .8em;
    line-height: 1.2;
    color:white;
}

