*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.principal{
    width: 100%;
    height: 115vh;
    background-image: url(img/fondo-azul.png);
    display: grid;
    grid-template-columns: 29% 71%;
    position: relative;
}

.principal .olas{
    position: absolute;
    bottom: 0;
    object-fit: cover;
    width: 100%;
}

.principal-1 img{
    width: 43%;
    margin: 1.1rem 4.1rem;
}

.principal-1-txt{
    color: white;
    margin: 2rem 3.5rem 2rem 3.5rem;
}

.principal-1-txt h1{
    font-size: 3.5rem;
}

.principal-1-txt p{
    position: relative;
    padding: 2rem 0;
    font-size: 1.8rem;
    line-height: 2.2rem;
    z-index: 999;
}

.principal-2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 37rem;
    padding: 3.8rem 3.4rem;
    gap: 2.5rem;
    z-index: 999;
}

.principal-2-1,.principal-2-2, .principal-2-3{
    display: grid;
    grid-template-rows: 70% 30%;
}

.principal-2 h1{
    position: absolute;
    bottom: 0;
    color: white;
    margin: 1rem 0 2rem 1rem;
}

.principal-2 p{
    line-height: 30px;
    font-size: 1.3rem;
    color: rgb(255, 255, 255);
    margin: 1rem;
}

.principal-2-1-img{
    background-image: url(img/Persona-cultivando.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    position: relative;
    transition: .50s ease-in-out;
}

.principal-2-1-img:hover{
    scale: 1.04;
}

.principal-2-2-img{
    background-image: url(img/ags.JPG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    position: relative;
    transition: .50s ease-in-out;
}

.principal-2-2-img:hover{
    scale: 1.04;
}

.principal-2-3-img{
    background-image: url(img/asesorai.JPG);
    background-size: cover;
    background-position: center left;
    background-repeat: no-repeat;
    border-radius: 15px;
    position: relative;
    transition: .50s ease-in-out;
}

.principal-2-3-img:hover{
    scale: 1.04;
}
