*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.principal{
    background-image: url(img/calera.JPG);
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.logo{
    width: 40%;
    margin: 1rem 0rem 0;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.principal h1{
    margin: .5rem 0;
    text-align: center;
    color: white;
    font-weight: 400;
    font-size: 2rem;
}

.prin{
    margin: 1rem .3rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
}


.prin-1, .prin-2, .prin-3{
    background-color: rgba(29, 29, 29, 0.651);
    border-radius: 10px;
    color: white;
    padding: 1rem;
}

.star{
    margin: .5rem 0;
}

.star-txt p{
    line-height: 1.4;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.star-txt h2{
    font-size: 1.7rem;
    position: relative;
    bottom: 0;
}

.olas{
    display: none;
}


@media screen and (min-width:750px) {

    .principal{
      
    }

    .principal .logo{
        width: 25%;
    }

    .principal h1{
    font-size: 3rem;
 }   

 .prin{
    grid-template-columns: repeat(2,1fr);
 }

 .star-txt p{
    font-size: 1.3rem;
 }

 .prin-3{
    z-index: 1;
 }

 .olas{
    display: none;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 0;
 }
}


@media screen and (min-width:1200px) {

    .principal{
        height: 115vh;
    }
    .principal .logo{
        width: 12%;
        margin: 2.5rem 4.2rem;
        left: 0;
        transform: translateX(0);
    }

    .principal h1{
        position: absolute;
        text-align: center;
        left: 50%;
        transform: translateX(-50%);
        top: 80px;
        font-size: 3rem;
        font-weight: 400;
        color: white;
    }

    .prin{
        position: relative;
        margin: 7.5rem 6rem;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: 19rem;
        gap: 2rem;
        z-index: 999;
    }

    .star-txt p{
        font-size: 1rem;
    }

    .olas{
        display: block;
        position: absolute;
        bottom: 0;
        width: 100%;
        z-index: 0;
     }
}