* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


.big {
    width: 100%;
    height: 115vh;
    background-image: url(img/fondo-azul-2.png);
    position: relative;
}

.big .logo {
    width: 12%;
    margin: 2.5rem 4.2rem;
}

.big h1 {
    position: absolute;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    top: 80px;
    font-size: 3.5rem;
    font-weight: 400;
}

.big-sec {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 31rem;
    margin: 2rem 3rem;
    gap: 2rem;
    z-index: 999;
    position: relative;
}

.big-sec-img-1{
    background-image: url(img/herbicidas.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    height: 80%;
    position: relative;
    transition: .50s ease-in-out;
}

.big-sec-img-1:hover{
    scale: 1.03;
}

.big-sec-img-1 h2{
    position: absolute;
    bottom: 0;
    margin: 2rem;
    color: white;
    font-size: 1.8rem;
}

.big-sec-img-2{
    background-image: url(img/insecticidas.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    height: 80%;
    position: relative;
    transition: .50s ease-in-out;
}

.big-sec-img-2:hover{
    scale: 1.03;
}

.big-sec-img-2 h2{
    position: absolute;
    bottom: 0;
    margin: 2rem;
    color: white;
    font-size: 1.8rem;
}

.big-sec-img-3 {
    background-image: url(img/fericidas.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    height: 80%;
    position: relative;
    transition: .50s ease-in-out;
}

.big-sec-img-3:hover{
    scale: 1.03;
}

.big-sec-img-3 h2{
    position: absolute;
    bottom: 0;
    margin: 2rem;
    color: white;
    font-size: 1.8rem;
}

.big-sec-txt{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.big-sec-txt p{
    width: 70%;
    padding: .5rem 1rem;
    color: white;
    font-size: 1.1rem;
}

.big-sec-txt a{
    border: none;
    width: 21%;
    padding: 1rem;
    display: block;
    border-radius: 50px;
    height: 10%;
    background-color: #0049AD;
    color: white;
}

.big-sec-txt button{
    border: none;
    background-color: rgba(245, 245, 220, 0);
    color: white;
    
}

.olas{
    position: absolute;
    bottom: 0;
    height: 60%;
    width: 100%;
    z-index: 888;
}





.gene{
    position: relative;
    width: 100%;
    height: 100vh;
}

.gene .olass{
    position: absolute;
    bottom: 0;
    object-fit: contain;
    width: 100%;
    z-index: 1;
}



.gene-txt{
    text-align: center;
    margin: 3rem 0 9rem;
}

.gene-txt h1{
    text-align: center;
    color: #269c72;
    font-size: clamp(2.4rem, 4vw, 4rem);
    font-weight: 200;
    margin-bottom: 1rem;
}

.gene-txt p{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.5rem;
    text-align: center;
}

@keyframes slide {
    from{
      transform: translateX(0);
    }
    to{
      transform: translateX(-100%);
    }
  }
  
  .logo-1{
    overflow: hidden;
    padding: 0px 0;
    white-space: nowrap;
    position: relative;
    margin: rem 0 0;
    padding-bottom: 3rem;
  }
  
  .logo-1 h1{
    text-align: center;
    padding: 3rem 0;
    color: rgb(0, 0, 128);
    font-size: clamp(2.4rem, 4vw, 4rem);
    font-weight: 800;
  }
  
  .logo::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 100%;
    background:linear-gradient(to left, rgba(207, 207, 207, 0.801), rgb(233, 233, 233));
    z-index: 2;
  }


  .logo::after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 100%;
    background:linear-gradient(to right, rgba(0, 0, 128, 0.096), rgba(0, 0, 128, 0.856));
    z-index: 2;
  }
  
 /* .logo:hover .logos-slide{
    animation-play-state: paused;
  }*/
  
  .logos-slide{
    display: inline-block;
    animation: 25s slide infinite linear;
    position: relative;
    z-index: 999;
  }
  
  .logos-slide img{
    height: 90px;
    padding: 1rem;
    margin: 0 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px 0 rgb(153, 153, 153);
    background-color: white;
    z-index: 999;
  }

a{
    position: relative;
    z-index: 999;
}


@media screen and (min-width:750px) {
    .logos-slide img{
        height: 120px;
    }

    .logo-1::after{
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 150px;
        height: 100%;
        z-index: 2;
      }

      .logo-1::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 150px;
        height: 100%;
        z-index: 2;
      }
}

@media screen and (min-width:1250px){
    .logo-1::after{
        width: 250px;
        height: 100%;
      }

      .logo-1::before{
        width: 250px;
        height: 100%;
      }
}
