*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    width: 100%;
    height: 115vh;
}

.divi{
    display: grid;
    grid-template-columns: 29% 71%;
    grid-template-rows: 100vh;
    position: relative;
    background-color: rgb(0, 0, 128);
    z-index: 999;
    
}

.divi .divi-1{
    background-color: #269c7300;
    z-index: 999;
    
}

.divi-1 img{
    width: 43%;
    margin: 1.1rem 4.1rem;

}

.divi-1-txt{
    margin: 2rem 3.5rem 2rem 3.5rem;
    color: white;
    z-index: 999;
}

.divi-1-txt h1{
    font-size: 3.5rem;
    z-index: 999;
}

.divi-1-txt p{
    position: relative;
    padding: 2rem 0;
    font-size: 1.8rem;
    line-height: 2.2rem;
    z-index: 2;
}

.divi .divi-2{
    background-color: rgba(255, 255, 255, 0);
}

.divi-2-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 4rem 3.4rem; 
    grid-template-rows: 25rem;
    gap: 2.3rem;
}

.divi-2-grid a{
    border-radius: 20px;
}

.divi-2-1{
    position: relative;
    background-image: url(img/IMG-20240919-WA0004.webp);
    background-position: center ;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 999;
}



.divi-2-2{
    position: relative;
    background-image: url(img/IMG-20240919-WA0002.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 999;
}

.divi-2-3{
    position: relative;
    background-image: url(img/IMG-20240919-WA0005.webp);
    background-position: center left;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 999;
}

.divi-2-grid a h2{
    position: absolute;
    bottom: 0;
    color: white;
    margin: 1rem;
}

.divi-2-grid a p{
    position: absolute;
    bottom: -13rem;
    line-height: 30px;
    font-size: 1.3rem;
    color: rgb(255, 255, 255);
    margin: 1rem;
    z-index: 2;
}

.olas{
    position: absolute;
    bottom: 0rem;
    height: 80%;
    width: 100%;
    z-index: 1;
    object-fit: cover;
}

.evento{
    margin: 15% 0;
    position: relative;
    width: 100%;
    height: 95vh;
    background:url(img/evento.jpg) no-repeat center/cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.capa{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    z-index: 1;
}

.evento-txt{
    padding: 1.5rem;
    z-index: 999;
    position: relative;text-align: center;
}

.evento h1{
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 3.5rem;
    
    font-weight: 900;
}

.evento p{
    text-align: center;
    font-size: 1.5rem;
    color: white;
    font-weight: 400;
    margin: 1rem 0;
}

.evento-txt button{
    margin: 0rem;
    padding: .8rem 1.3rem;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    transition: .25s linear all;
    background-color: rgb(0, 0, 128);
    color: white;
}

.evento-txt button:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.evento-txt .btn{
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(5px);
    border: .1rem solid white;
    color: rgb(255, 255, 255);
}

.modal {
    display: none; /* Oculta el modal por defecto */
    position: fixed; /* Mantiene el modal en una posición fija */
    z-index: 999; /* Asegura que el modal esté sobre otros elementos */
    left: 0;
    top: 0;
    width: 100%; /* Ocupa todo el ancho de la pantalla */
    height: 100%; /* Ocupa todo el alto de la pantalla */
    overflow: auto; /* Permite el desplazamiento si el contenido es grande */
    background-color: rgba(231, 231, 231, 0.4); /* Fondo oscuro y semitransparente */
}

.modal-content {
    background-color: #fefefe;
    margin: 2% auto; /* Centra el modal verticalmente */
    padding: 20px;
    width: 60%; /* Ancho del modal */
    max-width: 700px; /* Ancho máximo del modal */
    min-width: 650px;
    height: 80%;
    /*min-height: 500px;*/
    max-height: 500px;
    border-radius: 15px;
    background-image: url(img/OFERTA.webp);
    background-position: center right;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 999;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    position: relative;
}

.modal-content p{
    bottom: 0;
    text-align: center;
    color: black;
    position: absolute;
    padding: 5%;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 100;
    font-size: .6rem;
}


.close {
    color: #ffffff;
    float: right;
    font-size: 28px;
    font-weight: bold;
    z-index: 999;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


@media screen and (min-width:450px) and (max-width:720px) {
    .modal-content{
        background-size: contain;
        min-width: 421px;
        max-height: 500px;
        height: 299px;
    }
}

@media screen and (max-width:450px) {
    .modal-content{
        min-width: 350px;
        max-width: 245px;
        height: 278px;
    }
}
