*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.whats{
    width: 50%;
    position: absolute;
    z-index: 999;
    background-color: white;
    border-radius: 50%;
    width: 15%;
    bottom: 0;
    right: 0;
    margin: 1.5rem;
    position: fixed;
    animation: pulse 1.5s linear infinite;
}

@keyframes pulse {
    0%{
        scale: .9;
    }   

    50%{
        scale: 1;
    }

    100%{
        scale: .9;
    }
}

header{
    height: 100vh;
    position: relative;
}

header video{
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
}

.capa{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 128, 0);
}

.header-flex{
    display: flex;
    z-index: 999;
    position: relative;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 10% 10% 0;
}

.header-flex img{
    position: relative;
    width: 30%;
    margin-right: 2rem;
}

.header-flex h1{
    position: relative;
    font-size: clamp(1rem, 0.9105rem + 0.4476vw, 1.4rem);
    color: white;
    text-align: center;
}

.header-center{
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    width: 100%;
}

.header-center h2{
    font-size: clamp(2.5rem, 2.1643rem + 1.6783vw, 4rem);
    color: white;
    font-weight: 500;
}

.header-center small{
    font-size: clamp(1.2rem, 0.9091rem + 1.4545vw, 2.5rem);
    color: white;
    opacity: .8;
}

.btn{
    position: absolute;
    z-index: 999;
    bottom: 0;
    left: 50%;
    transform:translatex(-50%);
    margin: 5rem 0;
}

.btn button{
    padding: .8rem;
    border-radius: 15px;
    border: none;
    color: rgba(0, 0, 128);
    font-weight: 700;
}


.intro {
    position: relative;
    background-image: url(img/fondo-vertical.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10rem repeat(3, 18rem);
    padding: 10% 0;
    height: auto; /* Ajuste automático en lugar de altura fija */
}

.intro-txt {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 7.5%;
    row-gap: 10%;
}

.intro-txt h3, .intro-txt p {
    color: white;
}

.intro-txt h3 {
    font-size: clamp(1.5rem, 1.0524rem + 2.2378vw, 3.5rem);
}

.intro-txt p {
    font-size: clamp(1rem, 0.821rem + 0.8951vw, 1.8rem);
}

.grid {
    margin: 5% 10%;
    border-radius: 15px;
    position: relative;
    display: grid;
    grid-template-rows: 70% 30%;
}

.grid h4 {
    color: white;
    margin: 5%;
    font-weight: 700;
    bottom: 0;
    position: absolute;
}

.grid-txt p {
    color: white;
    margin: 5%;
}

.intro-1, .intro-2, .intro-3 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 15px;
    background-image: url(img/Persona-cultivando.webp);
}

.intro-2{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 15px;
    background-image: url(img/ags.JPG);
}

.intro-3 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 15px;
    background-image: url(img/asesorai.JPG);
}


.servicios{
    position: relative;
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr repeat(4,12rem);
    margin: 10% auto;
    gap: 1rem;
    width: 80%;
    min-width: 70%;
}

.ser-grid{
    position: relative;
    border-radius: 15px;
}

.ser-grid h2{
    position: absolute;
    bottom: 0;
    margin: 1rem;
    color: white;
}

.ser-1{
    background: url(img/sistema-rie.JPG) no-repeat center/cover;
}

.ser-2{
    background: url(img/hoja.jpg) no-repeat center/cover;
}

.ser-3{
    background: url(img/asessssss.png) no-repeat center/cover;
}

.ser-4{
    background: url(img/dron.png) no-repeat center/cover;
}

.servicios-header{
    text-align: center;
}

.parsela{
    background: url(img/evento.jpg) no-repeat center/cover;
    height: 100vh;
    position: relative;
    padding: 2rem;
    margin-bottom: 15rem;
}

.capa-2{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.39);
    z-index: 950;
    padding: 2rem;
    margin: 0;
}

.parsela-txt{
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.37);
    backdrop-filter: blur(15px);
    margin: auto;
    width: 80%;
    height: auto;
    color: white;
    z-index: 998;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    text-align: center;
    padding: 2rem .5rem;
}

.parsela-txt h1{
    margin: 0 0 1rem;
}

.parsela-txt button{
    margin: 1rem 0 0;
    padding: .5rem;
    border-radius: 10px;
    border: none;
    background-color: rgba(0, 0, 128);
    color: white;
}


@media screen and (max-width: 320px) {
    .intro {
        padding: 5% 0;
    }
}

@media screen and (min-width: 370px) {
    .intro {
        padding: 10% 0;
    }
}


.modal {
    display: none; /* Oculta el modal por defecto */
    position: fixed; /* Mantiene el modal en una posición fija */
    z-index: 999; /* Asegura que el modal esté sobre otros elementos */
    left: 0;
    top: 0;
    width: 100%; /* Ocupa todo el ancho de la pantalla */
    height: 100%; /* Ocupa todo el alto de la pantalla */
    overflow: auto; /* Permite el desplazamiento si el contenido es grande */
    background-color: rgba(231, 231, 231, 0.4); /* Fondo oscuro y semitransparente */
}

.modal-content {
    background-color: #fefefe;
    margin: 2% auto; /* Centra el modal verticalmente */
    padding: 20px;
    width: 60%; /* Ancho del modal */
    max-width: 700px; /* Ancho máximo del modal */
    min-width: 650px;
    height: 80%;
    /*min-height: 500px;*/
    top: 50%;
    transform: translateY(-50%);
    max-height: 500px;
    border-radius: 15px;
    background-image: url(img/OFERTA.webp);
    background-position: center right;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 999;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    position: relative;
}

.modal-content p{
    bottom: 0;
    text-align: center;
    color: black;
    position: absolute;
    padding: 5%;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 100;
    font-size: .6rem;
}


.close {
    color: #ffffff;
    float: right;
    font-size: 28px;
    font-weight: bold;
    z-index: 999;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/*@media screen and (min-width:450px) and (max-width:720px) {
    .modal-content{
        background-size: cover;
        min-width: 421px;
        max-height: 500px;
        height: 299px;
        top: 50%;
        transform: translateY(-50%);
    }
}*/


@media screen and (min-width:370px) and (max-width:720px){
    .modal-content{
        background-size: cover;
        min-width: 370px;
        max-width: 300px;
        height: 300px;
        top: 25%;
        transform: translatey(-50%);
    }
}

@media screen and (max-width:360px) {
    .modal-content{
        background-size: cover;
        min-width: 300px;
        max-width: 245px;
        height: 212px;
        top: 0;
        transform: translatey(0);
    }
}

