
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
 

header{
    position: relative;
    height: 115vh;
    width: 100%;
    z-index:1;
}

header video{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 2;
}

header .olas{
    position: absolute;
    bottom: 0;
    height: 60%;
    width: 100%;
    z-index: 999;
}

header button{
    position: absolute;
    z-index: 999;
    padding: 1.2rem 6.5rem;
    border-radius: 50px;
    border: none;
    color: rgb(0, 0, 128);
    font-weight: 600;
    font-size: 1.3rem;
    right: 0;
    margin: 1.7rem 3.2rem;
}

header .capa{
    position: absolute;
    width: 100%;
    height: 115vh;
    background-color: rgba(97, 97, 187, 0.418);
    z-index: 888;
}

.logo-txt{
    position: absolute;
    z-index: 889;
    display: flex;
    align-items: center;
    width: 45%;
    margin: 3rem 4rem;
    justify-content: stretch;
    gap: 1rem;
}

.logo-txt img{
    width: 25%;
}

.logo-txt h1{ 
    font-size: 23px;
    color: white;
    font-weight: 600;
}

.center{
    position: relative;
    z-index: 999;
    align-items: center;
    height: 80%;
    display: flex;
    justify-content: space-around;
    margin: 0 3rem;
}

.center img{
    width: 45%;
}

.center h2{
    color: white;
    font-size: 4rem;
}




.modal {
    display: none; 
    position: fixed; 
    z-index: 999; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.4)
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto; 
    padding: 20px;
    width: 80%; 
    max-width: 600px; 
    height: 80%;
    max-height: 600px;
    border-radius: 15px;
    background-image: url(img/irri.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 999;
    position: relative;
}

.modal-content p{
    bottom: 0;
    text-align: center;
    color: white;
    position: absolute;
    padding: 5%;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 100;
    font-size: .6rem;
}


.close {
    color: #ffffff;
    float: right;
    font-size: 28px;
    font-weight: bold;
    z-index: 999;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
