*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;
    margin: 2rem 0 0;
}



.nombre{
    background-color: rgba(0, 81, 187, 0.658);
    font-size: .8rem;
    text-align: center;
    color: white;
}

section{
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 5%;
    grid-auto-rows:6rem;
    margin:0 2rem 2rem;
}

.dia{
    border: .1rem solid;
    position: relative;
}

.dia span{
    right: 0;
    margin: .3rem;
    position: absolute;
}

.dia h3{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(0, 0, 128);
    font-size: 1rem;
    font-weight: 600;
}

.pas{
    background-color: rgba(219, 219, 219, 0.438);
}

