*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    height: 100vh;
    background: url(img/fondo-nuevo-azul.webp) no-repeat center/cover;
    background-attachment: fixed;
}

header{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1{
    color: white;
    font-size: 5rem;
}

header{
    position: relative;
    height: 115vh;
    width: 100%;
    z-index:1;
}

header video{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 2;
}

header .olas{
    position: absolute;
    bottom: 0;
    height: 60%;
    width: 100%;
    z-index: 3;
}

header button{
    position: absolute;
    z-index: 999;
    padding: 1.2rem 6.5rem;
    border-radius: 50px;
    border: none;
    color: rgb(0, 0, 128);
    font-weight: 600;
    font-size: 1.3rem;
    right: 0;
    margin: 1.7rem 3.2rem;
}


.logo-txt{
    position: absolute;
    z-index: 2;
    display: flex;
    align-items: center;
    width: 45%;
    margin: 3rem 4rem;
    justify-content: stretch;
    gap: 1rem;
}

.logo-txt img{
    width: 25%;
}

.logo-txt h1{ 
    font-size: 23px;
    color: white;
    font-weight: 600;
}

.center{
    position: relative;
    z-index: 2;
    align-items: center;
    height: 80%;
    display: flex;
    justify-content: space-around;
    margin: 0 3rem;
}

.center img{
    width: 45%;
}

.center h2{
    color: white;
    font-size: 4rem;
}

.divi{
    display: grid;
    grid-template-columns: 29% 71%;
    grid-template-rows: 108vh;
    position: relative;
    z-index: 998;
    
}

.divi .divi-1{
    background-color: #269c7300;
    z-index: 999;
    
}

.divi-1 img{
    width: 43%;
    margin: 1.1rem 4.1rem;

}

.divi-1-txt{
    margin: 2rem 3.5rem 2rem 3.5rem;
    color: white;
    z-index: 500;
}

.divi-1-txt h1{
    font-size: 3.5rem;
    z-index: 555;
}

.divi-1-txt p{
    position: relative;
    padding: 2rem 0;
    font-size: 1.8rem;
    line-height: 2.2rem;
    z-index: 2;
}


.divi-2-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 2rem 3.4rem; 
    grid-template-rows: 25rem;
    gap: 2.3rem;
}

.divi-2-grid a{
    border-radius: 20px;
}

.divi-2-1{
    position: relative;
    background-image: url(img/asesorai.webp);
    background-position: center ;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 999;
}



.divi-2-2{
    position: relative;
    background-image: url(img/ags.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 999;
}

.divi-2-3{
    position: relative;
    background-image: url(img/Persona-cultivando.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 999;
}

.divi-2-grid a h2{
    position: absolute;
    bottom: 0;
    color: white;
    margin: 1rem;
}

.divi-2-grid a p{
    position: absolute;
    bottom: -13rem;
    line-height: 30px;
    font-size: 1.3rem;
    color: rgb(255, 255, 255);
    margin: 1rem;
    z-index: 2;
}

.olas{
    position: absolute;
    bottom: 0rem;
    height: 80%;
    width: 100%;
    z-index: 1;
    object-fit: cover;
}

section{
    height: 115vh;
    width: 100%;
    position: relative;
}

.serv-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1fr 20rem;
    margin: 6.5rem 3rem;
    gap: 4rem 1rem;
    z-index: 998;
    position: relative;
}

.serv-grid-txt:first-child{
    grid-column: 1/5;
    text-align: center;
}

.serv-grid-txt h1{
    font-size: 3.5rem;
    font-weight: 400;
    color: white;
}

.serv-grid-1{
    border-radius: 10px;
    background-image: url(img/sistema-rie.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    transition: 1.1s;
}

.serv-grid-1:hover, .serv-grid-2:hover, .serv-grid-3:hover, .serv-grid-4:hover{
    scale: 1.04;
}

.serv-grid-1 h2{
    position: absolute;
    bottom: 0;
    color:white;
    padding:2rem;
}

.serv-grid-2{
    position: relative;
    border-radius: 10px;
    background-image: url(img/hoja.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 1.1s;
}

.serv-grid-2 h2{
    position: absolute;
    bottom: 0;
    color:white;
    padding:2rem;
}

.serv-grid-3{
    position: relative;
    border-radius: 10px;
    background-image: url(img/asesorai.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 1.1s;
}

.serv-grid-3 h2{
    position: absolute;
    bottom: 0;
    color:white;
    padding:2rem;
}

.serv-grid-4{
    position: relative;
    border-radius: 10px;
    background-image: url(img/dron.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 1.1s;
}

.serv-grid-4 h2{
    position: absolute;
    bottom: 0;
    color:white;
    padding:2rem;
}

.evento{
    margin: 5% 0 0;
    position: relative;
    width: 100%;
    height: 100vh;
    background:url(img/evento.webp) no-repeat center/cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 850;
}

.capa{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.200);
    position: absolute;
    z-index: 1;
}

.evento-txt{
    padding: 2.5rem;
    z-index: 999;
    position: relative;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.26);
    backdrop-filter: blur(10px);
    margin: 0 6rem;
    border-radius: 15px;
}

.evento h1{
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 3.5rem;
    
    font-weight: 900;
}

.evento p{
    text-align: center;
    font-size: 1.5rem;
    color: white;
    font-weight: 400;
    margin: 1rem 0;
}

.evento-txt button{
    margin: 0rem;
    padding: .8rem 1.3rem;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    transition: .25s linear all;
    background-color: rgb(0, 0, 128);
    color: white;
}

.evento-txt button:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.evento-txt .btn{
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(5px);
    border: .1rem solid white;
    color: rgb(255, 255, 255);
}

.footer{
    height: 100vh;
    
}

.gene{
    position: relative;
    width: 100%;
    background: url(img/fondo-nuevo-azul.webp) no-repeat center/cover;
    background-attachment: fixed;
    padding: 3em 0;
}

.gene .olass{
    position: absolute;
    bottom: 0;
    object-fit: contain;
    width: 100%;
    z-index: 1;
}



.gene-txt{
    text-align: center;
    margin: 3rem 0 9rem;
    color: white;
}

.gene-txt h1{
    text-align: center;
    color: #ffffff;
    font-size: clamp(2.4rem, 4vw, 4rem);
    font-weight: 200;
    margin-bottom: 1rem;
}

.gene-txt p{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.5rem;
    text-align: center;
}

@keyframes slide {
    from{
      transform: translateX(0);
    }
    to{
      transform: translateX(-100%);
    }
  }
  
  .logo-1{
    overflow: hidden;
    padding: 0px 0;
    white-space: nowrap;
    position: relative;
    margin: rem 0 0;
    padding-bottom: 3rem;
  }
  
  .logo-1 h1{
    text-align: center;
    padding: 3rem 0;
    color: rgb(0, 0, 128);
    font-size: clamp(2.4rem, 4vw, 4rem);
    font-weight: 800;
  }
  
  .logo::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 100%;
    background:linear-gradient(to left, rgba(207, 207, 207, 0.801), rgb(233, 233, 233));
    z-index: 2;
  }


  .logo::after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 100%;
    background:linear-gradient(to right, rgba(0, 0, 128, 0.096), rgba(0, 0, 128, 0.856));
    z-index: 2;
  }
  
 /* .logo:hover .logos-slide{
    animation-play-state: paused;
  }*/
  
  .logos-slide{
    display: inline-block;
    animation: 25s slide infinite linear;
    position: relative;
    z-index: 998;
  }
  
  .logos-slide img{
    height: 90px;
    padding: 1rem;
    margin: 0 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px 0 rgb(153, 153, 153);
    background-color: white;
    z-index: 990;
  }

a{
    position: relative;
    z-index: 999;
}

.principal-sec{
    width: 100%;
    height: 115vh;
    background-image: url(img/calera.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}

.principal-sec .logo {
    width: 12%;
    margin: 2.5rem 4.2rem;
}

.principal-sec h1 {
    position: absolute;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    top: 80px;
    font-size: 3rem;
    font-weight: 400;
    color: white;
}

.prin{
    position: relative;
    margin: 7.5rem 6rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 19rem;
    gap: 2rem;
    z-index: 980;
}


.prin-1{
    border-radius: 15px;
    background-color: rgba(48, 48, 48, 0.575);
    backdrop-filter: blur(2px);
}

.prin-2{
    border-radius: 15px;
    background-color: rgba(48, 48, 48, 0.575);
    backdrop-filter: blur(2px);
}

.prin-3{
    border-radius: 15px;
    background-color: rgba(48, 48, 48, 0.575);
    backdrop-filter: blur(2px);
}

.star{
    margin: 1.5rem;
}

.star-txt {
    color: white;
    margin: 0 1.5rem;
}

.star-txt h2{
    position: absolute;
    bottom: 5px;
    padding: 2rem 0;
}

.star-txt p{
    line-height: 1.3;
}
.olas{
    position: absolute;
    bottom: 0;
    height: 60%;
    width: 100%;
    z-index: 888;
}

footer{
    width: 100%;
    height: 125vh;
    position: relative;
    z-index: 980;
    background: url(img/fondo-nuevo-azul.webp) no-repeat center/cover;
    background-attachment: fixed;
}

footer .logo{
    width: 12%;
    margin: 2.5rem 4.2rem;
}

footer h3{
    position: absolute;
    color: white;
    top: 5rem;
    left: 15rem;
    font-size: 1.5rem;
}

.footer-content{
    color: white;
    background-image: url(img/fondooooooooooooooooooooooooooo.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 5rem;
    border-radius: 15px;
    height: 30rem;
    z-index: 999;
    position: relative;
}

.footer-content-txt{
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.footer-content-txt h4{
    font-size: 3.8rem;
    font-weight: 400;
    padding-bottom: .5rem;
}

.footer-footer{
    margin: 2rem 0;
    color: white;
    display: flex;
    justify-content: space-around;
    position: relative;
    z-index: 999;
}

.olas{
    position: absolute;
    bottom: 0;
    height: 60%;
    width: 100%;
    z-index: 2;
}